@tailwind base;
@tailwind components;
@tailwind utilities;

.no_scrollbar {
  -ms-overflow-style: 0;  /* IE and Edge */
  scrollbar-width: 0;  /* Firefox */
  -webkit-scrollbar-track: transparent;  /* Chrome, Safari, Opera */
  -webkit-scrollbar-thumb: 0;  /* Chrome, Safari, Opera */
  -webkit-scrollbar: 0;
}

::-webkit-scrollbar {
  width: 0;
}